<div ng-controller="KbnTimeVisController" class="time-vis">
  <h3 ng-show="config.title">{{config.title}}</h3>

        <h4 style="margin-top: 0px; margin-bottom: 2px;">
          <strong><i aria-hidden="true" class="fa fa-clock-o"></i> Absolu</strong>
        </h4>
        <form ng-submit="setAbsolute()">
          <div style="display: inline-block;">
            <label class="small" style="float:left;">De: <span ng-show="!time.absolute_from"><i>Date invalide</i></span>
            </label>
            <input type="date" required class="form-control" input-datetime="{{format}}" ng-model="time.absolute_from">
          </div>

          <div style="display: inline-block;">
            <label class="small" style="float:left;">A: <span ng-show="!time.absolute_to"><i>Date invalide</i></span>
            </label>
            <input type="date" required class="form-control" input-datetime="{{format}}" ng-model="time.absolute_to">
          </div>

          <div style="display: inline-block;">
            <button class="btn btn-primary" style="margin-bottom: 60px;" ng-disabled="time.absolute_from > time.absolute_to || !time.absolute_from || !time.absolute_to" type="submit">
              Go
            </button>
            <span class="small" ng-show="time.absolute_from > time.absolute_to"><strong>La date de début doit être inférieure à la date de fin</strong></span>
          </div>
        </form>

</div>
